*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-bar{
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    font-size: 19px;
}
.box{
    border: 2px solid transparent;
    transition: 0.3s;
    
}
.box:hover{
    border: 2px solid white;
    /* height: 56px; */
    align-self: center;
}
.box1{
    align-self: center;
    height: 60px;
    display: flex;
    align-items: center;
    
}
.box1-logo{
    background-image: url("amazone-logo.png"); 
     background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 30px;
    width: 129px;
    align-self: center;
    
    
}
.box2{
    height: 60px;
    width: 157px;
    display: flex;
    /* margin-left: 10px; */
    justify-content: center;
    align-items: center;
    
}
.box2-logo{
    color: white;margin: 20px 4px 0 0;

    
}
.box2-text{
    color: white;
    font-size: 16px;
}
.box2-text-uper{
    font-size: 19px;
}
.box2-text-lower{
    font-weight: 700;
}
.box3{
    width: 360px;
    height: 60px;
    display: flex;
    align-items: center;

}
.box3-manager{
    height: 47px;
    display: flex;
    border: 3px solid transparent;
    border-radius: 5px;
}

.box3-select{
    height: 40px;
    width: 50px;
}
.box3-search input{
    height:40px;
    width:256px;
}.box3-search-logo span{
    color:white;
    background-color: orange;
    width: 42px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.box3-manager:focus-within {
    background-color: orange;
}
.box4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    
}
.box4-container{
    display: flex;
  
}
.box4-left-container{
    display: flex;
    margin-right: 3px;
    

}
.box4-left-container img{
    height: 19px;
    width: 25px;
}
.box4-left-container div{
    text-decoration: none;
    color: white;
    margin: 0 3px 0 3px;
    font-weight: 800;
}
.box4-drop{
    color:white;
}
.box5{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:19px;
    
}
.box5-manager{
    display: flex;
  
}
.box5-left-li-2{
    font-weight: 800;
}
.box5-drop{
    margin-top:20px;   
}
.box6{
     display: flex;
    justify-content: center;
    align-items: center;
}
.box6 a{
    text-decoration: none;
    color: white;
   

}
.box6-li-2{
    font-weight:800;
}

.box7 > span{
   color:white;
    font-size: 60px;
}
.span{
    font-size: 32px;
    width: 20px;
    color: white;
    background-color: black;
    position: relative;
    left: 22px;
    bottom: 68px;
    height:30px;
    border-radius: 10px;
}


/* ------------------------- navbae end------ */

/* panel start */
.panel{
    height: 39px;
    width: 100%;
    background-color: #3b3a3a;
    display: flex;
    font-size: 19px;
    color: white;
}
.panel-left{
    height: 38px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    border: 2px solid transparent;
}
.panel-left-drop{
    margin-bottom: 5px;
    font-size: 70px;
}
.panel-center{
    width: 100%;
}    
.panel-center ul{
    display:flex;
    justify-content: start;
    align-items: center;
    
    
}
.panel-center ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    margin-left: 30px;
    list-style: none;
    transition: 0.3s;
    
   
}
.panel-right{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    margin-right:10px;
    
}
/* --------------------pannel end--------- */

/* main > hero */
.hero{
    width: 100%;
    height: 100%;
}
.hero-image{
    background-image: url("hero.jpg");;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: cover; */
    
}

/* ------------ hero end---- */

/* carts start  */
.cart{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    margin-top:-200px;
    background-color: #fadaee;
    
}
.cart{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    
}
.cart1{
    height: 420px;
    width: 288px;
    border: 2px solid rgb(194, 190, 190);
    border-radius: 12px;
}
.cart1 img{
    height: 120px;
    width: 120px;
    border-radius: 12px;
    box-shadow: 6px 5px 5px rgba(0,0,0,0.3);
    border-radius: 72px;
}
.cart1 h3{
    font-size: 22px;
    text-align: center;
}
.cart1 a{
    text-align: center;
    text-decoration: none;
    font-size:19px;
    margin-top: 5px;
}
.cart-small{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 122px;
}
.cart-manager{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:18px;
    margin-top:30px;

}
.cart-single-manager{
    height: 420px;
    width: 288px;
    border: 2px solid rgb(194, 190, 190);
    border-radius: 12px;
}
.cart-single-manager h3{
    font-size: 22px;
    text-align: center;
}
.cart1-single{
    display: flex;
    flex-direction: column;
    width: 287px;

    margin-top: 30px;
    
}
.cart1-single img{
    border-radius: 5px;
    height: 318px;
    width: 284px;
    object-fit: cover;
}
.cart1-single a{
    margin: 20px 0 0 7px;
    text-decoration: none;
    font-size: 17px;
}
/* ------------ main close */

/* footer start */
.footer-1{
    background-color: #3b3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 21px;
    
}
.footer-1 a{
    color: white;
    text-decoration: none;
}
.footer-2-manager{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #232F3E;
    height: 500px;
    
}

.footer-2{
    
    height: 294px;
    width: 294px;
    
}
.footer-li-1{
    
    color: white;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 800;
    list-style: none;
    text-decoration: none;
}
.footer-li-2{
    width: 450px;
    color: white;
    margin-bottom: 10px;
    font-size: 14px;
    list-style: none;
}
.footer-li-1:hover{
    text-decoration: underline;
}
.footer-li-2:hover{
    text-decoration: underline;
}
.footer-3{
    height: 250px;
    background-color: #131A22;
}
.footer-3-manager{
    background-color: #131A22;
    height: 200px;
    color: white;
    display: flex;
    
    justify-content: center;
   
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 20px;


}
.footer-3-cart{ 
    width: 150px;
    height: 40px;
    font-size: 12px;

}